.cabecalhome{
    background-color:#4476bb;
    height: 150px;
}
.imagemcedup{
    margin-left: 860px;
    margin-top: 100px;
}
.imagemcedup a{
    text-decoration: none;
}
a:hover {
    color: black;
}
.cabecalhitens{
    font-family: 'Saira Extra Condensed', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-top: -125px;
    word-spacing: 10px;
}

.cabecalhitens a{
    text-decoration: none;
}
a:link {
    color: rgb(255, 255, 255);
   }
a:hover {
    color: rgb(0, 0, 0); 

}.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}.map-responsive iframe{
    left:0;
    top:0;
    height:50%;
    width:100%;
    position:absolute;
}
.infoimagem{
    height: 95px;
    width: 140px;
    margin-left: 700px;
    background-color:#4476bb;
}
.conteudodados{
    font-family: 'Saira Extra Condensed', sans-serif;
    text-align: center;
    margin-top: -100px;
    margin-right: 50px;
    background-color:#4476bb;
}
.conteudohome{
    background-color:#4476bb;
}
.dadosgerais{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    background-color:#4476bb;
}
.bemvindohome{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 150px;
    background-color:#4476bb;
    text-align: center;
    color: white;
    margin-top: -170px;
}
.bemvindohome a{
    text-decoration: none;
}
a:hover{
    color: black;
}