.cabecalhome{
    background-color:#4476bb;
    height: 150px;
}


.imagemcedup{
    margin-left: 850px;
    margin-top: 100px;
}


.imagemcedup a{
    text-decoration: none;
}
a:hover {
    color: black;
}


.cabecalhitens{
    font-family: 'Saira Extra Condensed', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-top: -125px;
    word-spacing: 10px;
}
.cabecalhitens a{
    text-decoration: none;
}
a:link {
    color: rgb(255, 255, 255);
   }
a:hover {
    color: rgb(0, 0, 0); 

}


.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}.map-responsive iframe{
    left:0;
    top:0;
    height:50%;
    width:100%;
    position:absolute;
}


.conteudohome{
    background-color:#4476bb;
}


.dadosgerais{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    background-color: #171f32;
    margin-left: -15px;
    margin-right: -7px;
    margin-top: -15px;
}


.bemvindohome{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 150px;
    text-align: center;
    color: white;
    margin-top: -170px;
}


.baixohome{
    background-color: #000000;
    margin-left: -50px;
    margin-right: -7px;
    margin-top: 15px;
}


.telefone{ 
    align-items: center;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 45px;
    margin-top: 5px;
}


.whatsapp{
    align-items: center;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 45px;
    margin-top: 5px;
}


.bemvindohome {
    animation: blink 6s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }